<div *ngIf="data.length" class="favourites">
  <div class="header">
    <p><span class="remove">{{data.length}}</span> City added as favourite</p>
    <p class="remove" (click)="isDialogOpen = true">Remove All</p>
  </div>
  <div class="favourites-list">
    <div class="row" *ngFor="let item of data; let i = index" (click)="navigate(item?.name)">
      <div class="col1">
        <p class="place">{{item?.name}}, {{item?.sys.country | countryName}}</p>
        <div class="details">
          <img src="{{'assets/'+item?.weather[0].icon+'.png'}}" alt="">
          <p class="degrees">{{item?.main.temp | conversion:'cel'}} <span>&#xb0;c</span></p>
          <p class="description">{{item?.weather[0].description}}</p>
        </div>
      </div>

      <div class="icon">
        <span (click)="removeFromFavorites(i)" class="fa fa-heart"></span>
      </div>
    </div>
  </div>
</div>
<!-- no records found component -->
<div *ngIf="!data.length" class="no-records">
  <img src="assets/icon_nothing.png" alt="">
  <p class="no-records-message">No Favourites added</p>
</div>

<!-- remove all alert -->
<div *ngIf="isDialogOpen" class="remove-all" (click)="isDialogOpen = false">
  <div class="card">
    <p>Are you sure want to remove all the favourites?</p>
    <div class="buttons">
      <button (click)="isDialogOpen = false">NO</button>
      <button (click)="clearAll()">YES</button>
    </div>
  </div>
</div>
