*,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.favourites {
  .header {
    display: flex;
    margin: 1.5rem 1rem 1rem;
    display: flex;
    justify-content: space-between;

    p {
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 13px;
      letter-spacing: 0;
      line-height: 15px;
    }

    .remove {
      font-weight: 500;
    }
  }

  &-list {
    height: 90%;

    .row {
      width: 100%;
      height: 5rem;
      background-color: #ffffff1a;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1px;
      transition: 100ms linear all;
      overflow-y: auto;

      .col1 {
        width: 80%;
        display: flex;
        height: 100%;
        align-items: center;
      }


      .place {
        color: white;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 19px;
        width: 50%;
      }

      .details {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          height: inherit;
          margin-right: 1.5rem;
        }

        .degrees {
          color: #FFFFFF;
          font-family: Roboto;
          font-size: 32px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 38px;
          margin-right: 1.25rem;

          span {
            color: #FFFFFF;
            font-family: Roboto;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 21px;
          }
        }

        .description {
          color: #FFFFFF;
          font-family: Roboto;
          font-size: 18px;
          letter-spacing: 0;
          line-height: 21px;
        }
      }

      .icon {
        text-align: right;
        width: 20%;

        span {
          font-size: 1.25rem;
          color: #FFE539;
          margin-right: 1rem;
          transform: translateY(3px);
        }
      }

      &:hover {
        background-color: #ffffff33;
        .place {
          color: #FFE539;
        }
      }
    }
  }
}


.no-records {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .row {
    .col1 {
      flex-direction: column;

      .place {
        width: 100%;
        color: #FFE539;
      }

      .details {
        width: 100%;
        justify-content: start;
        height: 75%;

        img {
          margin-right: 1rem;
        }

        .degrees {
          font-size: 18px;
          line-height: 21px;
          margin-right: 1rem;

          span {
            font-size: 14px;
            line-height: 1.25rem;
          }
        }

        .description {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}
