@import 'src/mixins';

.drawer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  display: none;
  background-color: #ffffff;

  ul {
    width: 100%;
    padding: 1.5rem 0 0 1.75rem;
    list-style: none;

    li {
      padding: 0.25rem 0rem;
      width: 100%;

      a {
        text-decoration: none;
        height: 100%;
        width: 100%;
        display: inline-block;
        @include setFont(#707070, 14px, 0, 36px);
      }

      .active {
        color: #000000;
      }
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #00000093;
  display: none;
}

@media screen and (max-width: 767px) {
  .drawer {
    display: block;
  }

  .overlay {
    display: block;
  }
}
