<div class="loading" *ngIf="!homeData?.name">
  <img src="assets/logo_web.png" alt="">
</div>
<div *ngIf="homeData?.name" class="home">
  <div class="temp">
    <div class="place">
      <p class="place-text">{{homeData?.name}}, {{homeData?.sys.country | countryName}}</p>
      <p *ngIf="isFavouriteId(homeData?.id)" (click)="toggleFavourites(homeData?.id)" class="add"
        [class.added]="this.isFavourite">
        <!-- <span class="fa" [class.fa-heart]="this.isFavourite" [class.fa-heart-o]="!isFavourite"><mat-icon>favorite_border</mat-icon></span> -->
        <span ><mat-icon>{{isFavourite ? 'favorite' : 'favorite_border'}}</mat-icon>&nbsp;</span>
        {{isFavourite ? 'Added' : 'Add'}} to favourite</p>
    </div>
    <div class="details">
      <div class="details-disp">
        <img src="{{'assets/'+homeData?.weather[0].icon+'.png'}}" alt="">
        <div class="c-1">
          <p class="number">{{homeData?.main.temp | conversion:unit}}</p>
          <div class="unit">
            <span (click)="changeUnit('cel')" [class.active]="unit === 'cel'">&#xb0;C</span>
            <span (click)="changeUnit('fer')" [class.active]="unit === 'fer'">&#xb0;F</span>
          </div>
        </div>
        <p class="description">{{homeData?.weather[0].description}}</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="more-details">
      <img src="assets/icon_temperature_info.png" alt="">
      <div>
        <p class="title">Min - Max</p>
        <p class="value">{{homeData?.main.temp_min | conversion:unit}}&#xb0;-
          {{homeData?.main.temp_max | conversion:unit}}&#xb0;</p>
      </div>
    </div>
    <div class="more-details">
      <img src="assets/icon_precipitation_info.png" alt="">
      <div>
        <p class="title">Precipitation</p>
        <p class="value">{{(homeData?.main.feels_like - 273.15).toFixed(2)}}%</p>
      </div>
    </div>
    <div class="more-details">
      <img src="assets/icon_humidity_info.png" alt="">
      <div>
        <p class="title">Humidity</p>
        <p class="value">{{homeData?.main.humidity}}%</p>
      </div>
    </div>
    <div class="more-details">
      <img src="assets/icon_wind_info.png" alt="">
      <div>
        <p class="title">Wind</p>
        <p class="value">{{(homeData?.wind.speed * 2.237).toFixed(2)}} mph</p>
      </div>
    </div>
    <div class="more-details">
      <img src="assets/icon_visibility_info.png" alt="">
      <div>
        <p class="title">Visibility</p>
        <p class="value">{{homeData?.visibility}} mph</p>
      </div>
    </div>
  </div>
</div>
