@import 'src/mixins';

*,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 121111;
}

.home {
  height: calc(100% + 1rem);
  position: relative;
  overflow-y: auto;
  // background-color: rgba(126, 252, 0, 0.322);

  &::-webkit-scrollbar {
    width: 0rem;
  }

  .temp {
    height: 80%;

    .place {
      margin: 2rem 0 0 1rem;
      height: auto;

      &-text {
        @include setFont(#FFFFFF, 20px, 0, 24px);
        font-weight: 500;
        margin-bottom: 1.2rem;
      }

      .add {
        @include setFont(#FFFFFF, 13px, 0, 15px);
        font-weight: 500;
        cursor: pointer;

        span {
          font-size: 1.2rem;
          transform: translateY(2px);
        }
      }

      .added {
        color: #FFE539;
      }
    }

    .details {
      text-align: center;
      min-height: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 85%;

      .c-1 {
        margin: 1rem auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .unit {
          border: 1px solid #FFFFFF;
          border-radius: 2px;
          padding: 5px 0 4px 0;
          transform: translateY(-10px);
          margin-left: 0.5rem;
          cursor: pointer;

          span {
            padding: 6px;
            @include setFont(#FFFFFF, 16px, 0, 19px);
          }

          .active {
            background: white;
            color: #E32843;
          }
        }
      }

      .number {
        @include setFont(#FFFFFF, 64px, 0, 64px);
      }

      .description {
        @include setFont(#FFFFFF, 22px, 0, 25px);
        text-transform: capitalize;
        text-align: center;
      }
    }
  }

  .footer {
    border-top: 1px solid #ffffff4d;
    height: auto;
    width: 100%;
    padding: 1.75rem 0rem 2rem 0rem;
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    justify-content: space-around;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      background-color: black;
    }

    &::-webkit-scrollbar-thumb {
      background-color: white;
    }

    .more-details {
      img {
        height: fit-content;
        margin-right: 1rem;
      }

      display: flex;
      align-items: flex-start;
      min-width: fit-content;
      margin-right: 1rem;

      div {
        .title {
          @include setFont(#FFFFFF, 15px, 0, 18px);
          margin: 0px 0px 0.25rem 0px;
        }

        .value {
          @include setFont(#FFFFFF, 22px, 0, 25px);
          font-weight: 500;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home {

    .temp {
      .place {
        margin-left: 0rem;
        margin-top: 0rem;
        padding-top: 1rem;
        text-align: center;
      }
    }

    .footer {
      position: absolute;
      bottom: 0;
      justify-content: start;
      padding: 1.5rem 5% 1.5rem 5%;
      background-color: #ffffff21;
      
      .more-details {
        &:last-child {
          padding-right: 5%;
        }
      }

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) and  (max-width: 794px) {
  .home {
    .footer {
      justify-content: flex-start;
    }
  }
}

@media screen and (max-height: 467px) {
  .home {

    .temp {
      height: 100%;
      .details {
        min-height: 60%;
      }
    }


    .footer {
      position: relative;
    }
  }
}

@media screen and (max-height: 357px) {
  .home {

    .temp {
      height: 125%;
      .details {
        min-height: 100%;
      }
    }


    .footer {
      position: relative;
    }
  }
}

@media screen and (max-height: 306px) {
  .home {

    .temp {
      height: 200%;
      .details {
        min-height: 70%;
      }
    }


    .footer {
      position: relative;
    }
  }
}