@import 'src/mixins';

.main {
  padding: 0 5%;
  height: 100%;
  background: $background;
  overflow: hidden;
  position: relative;

  .navbar {
    padding: 2.25rem 0rem;

    .fa-arrow-left {
      display: none;
    }

    .title {
      display: none;
      color: #292F33;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 24px;
      text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    }
  }

  .menu {
    display: none;
    color: white;
    font-size: 1.25rem;
  }

  .search {
    width: 100%;
    position: relative;

    &-results {
      position: absolute;
      top: 105%;
      left: 0;
      min-height: 0px;
      max-height: 200px;
      width: 100%;
      background: #FFFFFF;
      border-radius: 3px;
      z-index: 1115;
      overflow-y: auto;

      // ul {
      li {
        list-style: none;
        border-bottom: 1px solid #0000001a;
        padding: 0.75rem 5%;
        list-style: none;

        &:last-child {
          border: none;
        }

        &:hover {
          background-color: #00000013;
        }
      }

      // }
    }

    &-box {
      width: 100%;
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 1rem;
      letter-spacing: 0;
      line-height: 19px;
      padding: 0.8rem 2.5rem 0.8rem 0.8rem;
      border: 1px solid rgb(255, 255, 255, 0.3);
      outline: none;
      border-radius: 3px;
      background-color: #ffffff4d;
      opacity: 1;

      &::placeholder {
        color: whitesmoke;
      }
    }

    &-icon {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      color: white;
      font-size: 1.25rem;
      pointer-events: none;
    }
  }

  .md-menu {
    border-bottom: 1px solid #ffffff4d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3px;


    .links {
      a {
        text-decoration: none;
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 15px;
        padding: 3px 1rem;
        margin-right: 1rem;

        &:last-child {
          margin: 0;
        }
      }

      .active {
        border-bottom: 2px solid #FFD639;
        color: #FFD639;
      }



    }

    .date-time {
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 16px;
      text-align: right;
      margin-right: 0.75rem;
    }
  }

  .content {
    height: calc(100% - 120px - 24px);
  }

}



@media screen and (max-width: 767px) {

  .main {
    padding: 0;

    .row {
      margin-left: 0;
    }

    .navbar {
      padding: 1rem 0rem;
    }

    .content {
      padding: 0 5%;
      height: calc(100% - 120px - 24px + 3rem);
    }

    .remove-padding {
      padding: 0;
    }

    .menu {
      display: block;
    }

    .md-menu {
      justify-content: center;
      border: none;
      display: none;
    }

    .search {
      &-box {
        display: none;
      }

      &-icon {
        pointer-events: auto;
      }

      &-results {
        display: none;
      }
    }
  }

  .custom-class {
    background: white;

    .logo-title {
      padding-left: 0;
    }

    #logo-bars {
      display: none;
    }

    #logo-left {
      display: block;
      color: black;
      margin-left: 5%;
      border: none;
      outline: none;
    }

    #weather-logo {
      display: none;
    }

    #title {
      display: block;
    }

    #search-icon {
      color: black;
    }
  }
}
