<div class="container-fluid main">
  <div id="navbar" class="row navbar">
    <div class="col-1 col-md-none menu">
      <span id="logo-bars" class="fa fa-bars" (click)="isDrawerOpen = !isDrawerOpen"></span>
      <span id="logo-left" class="fa fa-arrow-left" routerLink="home"></span>
    </div>
    <div class="col-8 col-md-6 logo-title">
      <img id="weather-logo" src="assets/logo_web.png" alt="">
      <span id="title" class="title"></span>
    </div>
    <div class="col-1 col-md-6 col-lg-6">
      <div class="search">
        <div class="search-box-div">
          <input #searchBox class="search-box" type="text" placeholder="Search City" (input)="search(searchBox.value)">
        </div>
        <span id="search-icon" class="fa fa-search search-icon" (click)="isMobileSearchOpen = true"></span>
        <div class="search-results">
          <li *ngFor="let item of cities | async" (click)="viewDetailsOfSelectedLocation(item)" routerLink="home">
            {{item}}</li>
        </div>
      </div>
    </div>
  </div>
  <div class="md-menu">
    <div class="links">
      <a routerLink="home" routerLinkActive="active">HOME</a>
      <a routerLink="favourites" routerLinkActive="active">FAVOURITE</a>
      <a routerLink="recent" routerLinkActive="active">RECENT SEARCH</a>
    </div>
    <div class="date-time">
      <span>{{date | date:'EEE, dd MMM yyyy hh:mm aa'}}</span>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-search *ngIf="isMobileSearchOpen" (closeSearch)="closeSearchWindow($event)"></app-search>
  <app-drawer appDrawer *ngIf="isDrawerOpen" (closeDrawer)="closeDrawer($event)"></app-drawer>
</div>
