<div *ngIf="data.length" class="favourites">
  <div class="header">
    <p>You recently searched for</p>
    <p class="remove" (click)="clearAll()">Clear All</p>
  </div>
  <div class="favourites-list">
    <div class="row" *ngFor="let item of data; let i = index">
      <div class="col1" (click)="navigate(item?.name)">
        <p class="place">{{item?.name}}</p>
        <div class="details">
          <img src="{{'assets/'+item?.weather[0].icon+'.png'}}" alt="">
          <p class="degrees">{{(+item?.main.temp - 273.15).toFixed(0)}} <span>&#xb0;c</span></p>
          <p class="description">{{item?.weather[0].main}}</p>
        </div>
      </div>

      <div class="icon" (click)="toggleFavourite(item?.id)" >
        <span class="fa fa-heart" [ngStyle]="{'color': favList.includes(item?.id) ? '': 'white'}"
          [ngClass]="{'fa-heart-o': !favList.includes(item?.id)}"></span>
      </div>
    </div>
  </div>
</div>
<!-- no records found component-->
<div *ngIf="!data.length" class="no-records">
  <img src="assets/icon_nothing.png" alt="">
  <p class="no-records-message">No Recent Search</p>
</div>

<!-- <span (click)="removeFromFavorites(i)" class="fa fa-heart" [ngStyle]="{'color': item.favourite ? '': 'white'}"
          [ngClass]="{'fa-heart-o': !item.favourite}"></span> -->
