<div *ngIf="data.length" class="favourites">
  <div class="header">
    <p>You recently searched for</p>
    <p class="remove" (click)="clearAll()">Clear All</p>
  </div>
  <div class="favourites-list">
    <div class="row" *ngFor="let item of data">
      <div class="col1">
        <p class="place">{{item.place}}</p>
        <div class="details">
          <img src="assets/icon_precipitation_info.png" alt="">
          <p class="degrees">{{item.temp}} <span>&#xb0;c</span></p>
          <p class="description">{{item.desc}}</p>
        </div>
      </div>

      <div class="icon">
        <span class="fa fa-heart"></span>
      </div>
    </div>
  </div>
</div>
<!-- no records found component-->
<div *ngIf="!data.length" class="no-records">
  <img src="assets/icon_nothing.png" alt="">
  <p class="no-records-message">No Recent Search</p>
</div>
