$background: radial-gradient(circle farthest-corner at 94% 28%, #ae538b 0%, #5555df 100%);

@mixin setFont($color, $font-size, $letter-spacing, $line-height) {
    color: $color;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
    font-family: Roboto;
}